* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:06:12
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:05:55
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:05:22
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:05:38
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:06:04
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:06:26
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:06:34
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:06:44
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:06:59
    Author     : thibault
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:07:07
    Author     : thibault
*/
/*************** FOOTER ************/
footer {
  display: flex;
  justify-content: space-between;
  height: 21vh;
  background: #9c9c9c; }

footer i {
  color: #620f0f; }

.fa-facebook {
  transition: 1s; }
  .fa-facebook:hover {
    color: #3b5998; }

footer h2 a {
  color: #620f0f; }

.icones {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.mention {
  font-size: 0.5em;
  display: flex;
  flex-direction: column-reverse; }

/*************** END-FOOTER ************/

/*# sourceMappingURL=style.css.map */
