* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.5px; }

header {
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.taille-filtre {
  font-size: 2em; }

/************* ICI NAVBAR **************/
nav {
  position: sticky;
  top: 0; }

nav ul {
  background: #620f0f;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px; }

nav ul li {
  list-style: none;
  font-size: 1.5em; }

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0 3em;
  transition: .5s;
  border-radius: .8em; }

nav ul li a:hover {
  background-color: white;
  color: #620f0f; }

/******************** END NAVBAR ********************/
/**************** ICI HOME CSS *********/
.presentation {
  display: flex; }

article aside img {
  width: 43vw;
  height: 100%; }

.text-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  font-size: large; }

/************ ICI FIN HOME CSS ************/
/************* PANIER-CSS ************/
.titre-panier {
  text-align: center;
  font-size: 3rem; }

.titre-recette {
  text-align: center;
  font-size: 2rem; }

.prix-total {
  text-align: end; }

.ingredient-modif {
  padding: 0 !important; }

.container-panier-vide {
  text-align: center; }

.ul-panier {
  list-style: none; }

/********** END-PANIER-CSS ************/
/************ ICI DEBUT INGREDIENTS *************/
.container-ing {
  display: flex; }

.container-ing > aside {
  width: 33vw;
  overflow: hidden;
  background: whitesmoke;
  justify-content: center;
  border: 11px solid white;
  border-bottom: 56px solid white;
  border-right: 10px solid white; }

.ingredient article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.ingredient article figure a img {
  width: 99%; }

.ingredient article figure figcaption {
  display: flex;
  justify-content: space-evenly; }

.wrap-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.wrap-button input {
  width: 2vw;
  text-align: center; }

.ingredient article figure a img {
  width: 22vw;
  height: 30vh;
  object-fit: contain; }

.ingredient div button {
  display: flex;
  justify-content: center;
  max-width: 1%;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 40px; }

.ingredient div button:hover {
  background-color: #3e8e41; }

.ingredient div button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px); }

/*************** ICI FIN INGREDIENTS ***********/
/***************** ONE RECIPE CSS ***************/
.container-uneRecette {
  display: flex; }

.ul-ingredient-list {
  width: 33vw;
  justify-content: unset !important; }

.ingredient-list {
  flex-direction: column;
  justify-content: unset !important; }

.un-ingredient img {
  width: 4vw;
  height: 4vw;
  object-fit: contain; }

.uneRecette figure {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.uneRecette {
  width: 100%; }

.uneRecette figure img {
  object-fit: contain; }

.uneRecette figure h1 {
  text-align: center;
  font-size: 3rem; }

.uneRecette figcaption {
  text-align: center;
  font-size: 2rem; }

.un-ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%; }

.un-ingredient span {
  width: 35%; }

/***************** END ONE RECIPE CSS ***************/
/******************* Recettes ***************/
.recettes {
  display: flex; }

.liste-recette {
  width: 70%; }

.liste-recette h1 {
  text-align: center;
  font-size: 1.5em; }

.container-aside {
  width: 30vw;
  background: whitesmoke;
  display: flex;
  justify-content: center; }

.container-aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.container-aside ul li {
  cursor: pointer; }

#les-recettes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

#les-recettes figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.image-recette {
  width: 22vw;
  height: 25vh;
  background-position: center;
  background-size: cover; }

/******************* END-Recettes ***************/
.contener-flex-sign-in {
  display: flex;
  justify-content: space-around; }

.contener-flex-sign-in div {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.connection, .inscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0; }

/*.connection input, .inscription input {
    margin-bottom: 1.5em;
}*/
.divider {
  background-color: #620f0f;
  width: .15em;
  height: 36em; }

.divRadio {
  display: block !important; }

.mesErr {
  height: 25px;
  font-size: 18px;
  color: red; }

/*************** FOOTER ************/
footer {
  display: flex;
  justify-content: space-between;
  height: 21vh;
  background: #9c9c9c; }

footer i {
  color: #620f0f; }

.fa-facebook {
  transition: 1s; }
  .fa-facebook:hover {
    color: #3b5998; }

.fa-twitter-square {
  transition: 1s; }
  .fa-twitter-square:hover {
    color: #00aced; }

footer h2 a {
  color: #620f0f; }

.icones {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.mention {
  font-size: 0.5em;
  display: flex;
  flex-direction: column-reverse; }

.mention h2 a:visited {
  color: #620f0f; }

/*************** END-FOOTER ************/

/*# sourceMappingURL=style.css.map */
