/************* PANIER-CSS ************/
.titre-panier{
    text-align: center;
    font-size: 3rem;
}
.titre-recette{
    text-align: center;
    font-size: 2rem;
}
.prix-total{
    text-align: end;
}
.ingredient-modif{
    padding: 0 !important;
}
.container-panier-vide{
   text-align: center;
}

.ul-panier {
    list-style: none;
}
/********** END-PANIER-CSS ************/