/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2019, 15:05:46
    Author     : thibault
*/
footer{
    height: 10vh;
    background: yellow;
}
