/*************** FOOTER ************/
footer {
    display: flex;
    justify-content: space-between;
    height: 21vh;
    background: rgb(156, 156, 156);
}

footer i {
    color: #620f0f;
}

.fa-facebook{
    transition: 1s;
    &:hover{
        color: #3b5998;
    }
}
.fa-twitter-square{
    transition: 1s;
    &:hover{
        color: rgb(0, 172, 237);
    }
}
.fa-instagram{
    &:hover{
    }
}
footer h2 a {
    color: #620f0f;
}

.icones {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mention {
    font-size: 0.5em;
    display: flex;
    flex-direction: column-reverse;
}
.mention h2 a:visited {
color: #620f0f;
}
/*************** END-FOOTER ************/