/*************** FOOTER ************/
footer {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    background: #6f6f6f;
}

footer i {
    color: #620f0f;
}

footer h2 a {
    color: #620f0f;
}

.mention {
    display: flex;
    flex-direction: column-reverse;
}

/*************** END-FOOTER ************/