/**************** ICI HOME CSS *********/
.presentation {
    display: flex;

}

article aside img {
    width: 43vw;
    height: 100%;
}

.text-home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    font-size: large;
}

/************ ICI FIN HOME CSS ************/