/************ ICI DEBUT INGREDIENTS *************/
.container-ing {
    display: flex;
}

.ingredient {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-ing>aside {
    width: 33vw;
    overflow: hidden;
    background: whitesmoke;
    border: 11px solid white;
    border-bottom: 56px solid white;
    border-right: 10px solid white;
}

.ingredient figure img {
    width: 99%;
}

.ingredient figure figcaption {
    display: flex;
    justify-content: space-evenly;
}

.wrap-button {
    display: flex;
    justify-content: center;
}

.wrap-button input {
    width: 2vw;
    text-align: center;
}


/*************** ICI FIN INGREDIENTS ***********/