/************* ICI NAVBAR **************/
nav {
    position: sticky;
    top: 0;
}
nav ul {
    background: #620f0f;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    list-style: none;
    font-size: 1.5em;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0 3em;
    transition: .5s;
    border-radius: .8em;
}
nav ul li a:hover {
    background-color: white;
    color: #620f0f;
}

/******************** END NAVBAR ********************/

