.container-uneRecette{
    display: flex;
}

.ul-ingredient-list {
    width: 33vw;
}
.uneRecette{
    
}
.un-ingredient {
    display: flex;
    justify-content: center;
}
.un-ingredient span{
    width: 35%;
}