/***************** ONE RECIPE CSS ***************/

.container-uneRecette {
    display: flex;
}

.ul-ingredient-list {
    width: 33vw;
    justify-content: unset !important;
}

.uneRecette figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uneRecette figure img {
    object-fit: contain;
}

.uneRecette figure h1 {
    text-align: center;
    font-size: 3rem;
}

.uneRecette figcaption {
    text-align: center;
    font-size: 2rem;
}

.un-ingredient {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.un-ingredient span {
    width: 35%;
}

/***************** END ONE RECIPE CSS ***************/