/******************* Recettes ***************/

.recettes {
    display: flex;
}

.liste-recette {
    width: 70%;
}

.liste-recette h1 {
    text-align: center;
    font-size: 1.5em;
}
.filtres-recettes {
    width: 30vw;
    background: whitesmoke;
    display: flex;
    justify-content: center;
}

.filtres-recettes ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.filtres-recettes ul li {
    cursor: pointer;
}

#les-recettes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

 #les-recettes figure {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} 
.image-recette{
    width: 22vw;
    height: 25vh;
    background-position: center;
    background-size: cover;
}

/******************* END-Recettes ***************/