.recettes{
    display: flex;
}
.liste-recette{
    width: 70%;
}
.liste-recette h1{
    text-align: center;
    font-size: 1.5em;
}
.filtre-recette{
    height: 95%;
    width: 30%;
    background: rgb(156, 156, 156);
    font-size: 2em;
}
.filtre-recette ul li {
    cursor: pointer;
}