.contener-flex-sign-in {
    display: flex;
    justify-content: space-around;
}
.contener-flex-sign-in div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.connection, .inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0;
}
/*.connection input, .inscription input {
    margin-bottom: 1.5em;
}*/
.divider {
    background-color: #620f0f;
    width: .15em;
    height: 40em;
}
.divRadio {
    display: block!important;
}

.mesErr {
    height: 25px;
    font-size: 18px;
    color: red;
}