*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}
header {
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.taille-filtre{
    font-size: 2em;
}